<div class="label">
	<div class="labelImage" id="learningImage">
	</div>
	<div class="slashImage">
	</div>
	<div class="labelText">
	About CAMP/pixel
	</div>
</div>
<div id="aboutSection" class="blurbTop">
	Technology is becoming more and more necessary for future jobs, rendering the utility of early STEM education at a critically high level. Don't just take our word for it, take the <a href="http://www.ed.gov/stem" target="_blank">U.S. Department of Education</a>, or <a target="_blank" href="https://www.ncwit.org/edjobsmap">NCWIT</a>, or <a  target="_blank" href="http://blog.linkedin.com/2013/12/18/the-25-hottest-skills-that-got-people-hired-in-2013/?utm_source=buffer&utm_campaign=Buffer&utm_content=bufferc1275&utm_medium=twitter">LinkedIn</a>. CAMP/pixel brings cutting-edge, relevant topics of technology recognizable in A.P. and college-level Computer Science classes and breaks them down into intriguing, hands-on experiences for kids ages 7-14. Campers are introduced to a new world of imagination and creativity through inquiry-based learning using professional-grade technology and methods that most students don't get at school.. Whether it's designing on a 3D plane, experimenting with virtual reality, producing creative digital art, or any of our other time-tested curriculum, our project-based approach encourages exploration and creativity while always promoting our Rule #1: Have Fun. <br><br>
	We use technology of the present to help kids create ideas for the future.
	<div id="locationBlurb">
		For more information, visit <a href="about.html">CAMP/about</a>.
	</div>
</div>