.hide{
    display: none;
}

.well{
    margin-bottom: 100px;
}

.ages79{
    background-image: url("images/gamedesigner.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
}

#skillsTable{
    margin-bottom: 35px;
    display: inline-block;
}

#topicsTable{
    margin: 0px;
}

#skillsTable span{
    display: inline-block;
    width: 8%;
    height: 125px;
    vertical-align: top;
}

#skillsTable img{
    padding: 1%;
    width: 100%;
}

#skillsTable span div{
    margin-top: 15px;
    font-size: 14px;
    position: relative;
    color: orange;
    font-family: "Header";
    text-align: center;
    display: none;
}


#skillsTable span:hover div{
    display: inline-block;
}



.topic{
  width: 32%;
}



.topic.left{
  margin-right: 1%;
}

.topicsTitle{
  font-size: 22px;
}

#topicsTable{
  margin-bottom: 35px;
}

.topic{
    margin-bottom: 0px;
}

.ready{
  font-size: 22px;
  font-family: "Header";
  display: block;
  margin-bottom: 5px;
}

.topicsWeeks{
  font-size: 16px;
  font-family: "Body";
}


#image79{
    background-size: cover;
    background-image: url("images/gamedesigner.jpg") !important;
    background-position: right center; 
}

#scheduleSectionHeader .mainSectionImage {
  background-image: url("images/schedule-header.jpg") !important;
  background-position: right center; }

.topicTable{
    width: 100%;
    margin-bottom: 35px;
}
.topicTable td{
    vertical-align: middle;
}
#citHeader-left{
    display: inline-block;
    width: 50%;
    margin-bottom: 35px;
}
#citHeader-right{
    float:right;
    display: inline-block;
    width: 45%;
    margin-bottom: 35px;}
.citHeaderLabel {
    font-family: "Header";
    font-size: 24px;
    padding: 22px 0px;
    background-color: #CCCCCC;
    color: #59a4a3;
    text-align: center;}
    .citHeaderImage{
        text-align: center;
        width: 100%;
    }
.citSubheaderLabel{
    font-size: 16px; 
    padding-top: 10px;}
#citHeader table td {
    font-size: 15px;
    padding: 12px;
    font-style: "Body";
    line-height: 120%;}
.rowHighlight {
    background-color:#eee;}
    #topApplyButton{
        margin-bottom: 35px;
    }
.applyButton {
    background-color: #ff017e;
    border: none;
    font-size: 18px;
    font-family: "Header";
    line-height: 60px;
    height: 60px;
    width:100%;
    color: white;}
.applyButton:hover {
    background-color: #e54785;
    cursor: pointer;
    color: white;
    text-decoration: none; }
    
.citHeaderBlurb{
    font-family: "Body";
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 50px;
    clear: both; }


#midSection{
    clear: both;
    position: relative;}
#midSection .learning{
    float: left;
    width: 45%;
margin-bottom: 50px;}
#midSection .leading{
    float:right;
    width: 45%;
margin-bottom: 50px;}
#midSection .midSectionLabel {
    font-family: "Header";
    font-size: 25px;
    background-color: #7fcca8;
    padding: 20px;
    color: white;}
.midSectionList {
    line-height: 175%;
    font-size: 14px;
    margin-top: 12px;
    margin-left: 0px;}
.midSectionList li:before {
font-family: "Header";
  content: ">"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: #e54785; /* Or a color you prefer */   }

.section{
    clear:both;
    width:100%;
}

#applySectionHeader .mainSectionImage{
    background-image: url("images/Minecraft%20Coding%20plus.jpg")!important;
    background-position: right center;}

.applySchedule {
    width: 180px;}
.scheduleTitle {
    color:  #1b2325;
    font-size: 24px;
    font-family: "Header";
    padding-bottom: 15px;}
.scheduleDate {
    padding-bottom: 30px;
    font-size: 22px;
    color: #59a4a3;
    font-family: "Special";
}
.scheduleDate.second {
    padding-bottom: 0px;
}
.applyDetails{

    margin-bottom: 80px;
    display: inline-block;
}
.applyBlurb{
    line-height: 24px;
    position: relative;
    display: inline-block;
}

.applyColumn{
    display: inline-flex;
    vertical-align: middle;
}
.applyColumn.left{
   width: 180px;
    position: absolute;
    top: 0;
    left: 0;
}

.applyColumn.right{
   margin-left: 180px;
}


#viewAllTopics{
    height: 70px;
}



.packageButton{
  width: 100%;
  background-color: #555;
  height: 75px;
  color: #ffffff !important;
  margin-bottom: 15px;
  text-align: center;
  line-height: 75px;
  font-family: "Header";
  font-size: 36px;
  position: relative;
}


.packageButton:hover{
  color: #ff017e !important;
}

#minecrafter:hover{
  background-image: url("images/minecrafter.jpg");
  background-size: cover;
  background-position: 50%;
}

#coder:hover{
  background-image: url("images/coder.jpg");
  background-size: cover;
  background-position: 50%;
}

#maker:hover{
  background-image: url("images/maker.jpg");
  background-size: cover;
  background-position: 50%;
}

#artist:hover{
  background-image: url("images/artist.jpg");
  background-size: cover;
  background-position: 50%;
}

#gamedesigner:hover{
  background-image: url("images/gamedesigner.jpg");
  background-size: cover;
  background-position: 50%;
}


.blurbHeader{
    font-family: "Header";
    padding-bottom: 5px;
    vertical-align: bottom;
    padding-right: 30%;
    text-align: left;
    color: #1b2325;
    font-size: 24px;
    margin-bottom: 15px
}

.packageMask{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, .5);
}

.packageButton:hover{
  cursor: pointer;
  background-color: #999;
}

#packageList{
    margin-bottom: 35px;
}
#citCTA {
    padding-bottom: 30px;
    clear: right;
    margin: 30px auto;
    text-align: center; 
    margin-bottom: 15px;
    }
#citCTA a {
    text-decoration: none; }
#citCTA1, #citCTA2 {
    font-family: "Header";
    display: inline-block;
    text-align: center;
    width: 250px;
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    background: #ff017e;
    font-weight: normal;
    margin: auto;
    color: white; }
#citCTA1:hover, #citCTA2:hover {
    background: #e54785;
    cursor: pointer;
    color: #fff; }
#citCTA1 {
    margin-right: 15px; }


#topApplyButton{
    width: 250px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    font-size: 18px;
}

.label {
    height: 100px;
    background-color: #7fcca8;
    color: #1b2325;
    font-size: 32px;
    margin-bottom: 50px;
    position: relative; 
}


#sliderAges{
    width: 100%;
    height: 50px;
    position: relative;
    top: 62px;
    left: -10px;
}

.sliderAge{
    font-family: "Header";
    font-size: 26px;
    position: absolute;

}

#agesHeaderText{
    margin: auto;
    font-family: "Body";
    font-size:22px;
    line-height: 28px;
    text-align: center;
}

#slider1{
    left: 1.5%;
}

#slider2{
    left: 21.5%;
}

#slider3{
    left: 41%;
}

#slider4{
    left: 60.5%;
}

#slider5{
    left: 80.5%;
}

#slider6{
    left: 101.5%;
}




#learningImage {
  background-image: url("images/Learning.jpg");
  background-size: cover;
  background-position: center 81%; 
}
#dropOffImage {
  background-image: url("images/DropOff.jpg");
  background-size: cover;
  background-position: center 50%; 
}
#screenBreaksImage {
  background-image: url("images/ScreenBreaks.jpg");
  background-size: cover;
  background-position: center 50%; 
}
 .label {
  font-family: "Header";
  height: 100px;
  background-color: #7fcca8;
  color: #1b2325;
  font-size: 32px;
  margin-bottom: 35px;
  position: relative; 
  clear: both;
}
 .label .labelImage {
  background-color: #999999;
  height: 100px;
  width: 58%;
  display: inline-block;
  position: absolute;
  right: 0px; 
}
 .label .slashImage {
  height: 100%;
  width: 10%;
  background: url("images/scheduleSlash.png");
  background-size: cover;
  position: absolute;
  left: 40%;
  top: 0px; 
}
 .label .labelText {
  display: inline-block;
  position: relative;
  top: 35px;
  width: 40%;
  left: 20px;
  color: white; 
}

.blurb{
    font-size: 16px;
    line-height: 24px;
}

.blurbTop{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
}



@media screen and (max-width: 1000px) {
 #skillsTable span{
    height: 85px;
}
}


@media screen and (max-width: 870px) {
 .label {
    height: 100px;
    background-color: #7fcca8;
    color: #1b2325;
    font-size: 32px;
    margin-bottom: 35px;
    position: relative; 
    text-align: center;
    clear: both;
  }
 .label .labelImage {
    width: 0%;
    top: 0px; 
    display: none;
  }
 .label .slashImage {
    display: none;
  }
 .label .labelText {
    font-size: 28px;
    text-align: center;
    width: 100%;
    left: 0px;
  } 
}


@media screen and (max-width: 815px) {
    #sliderAges{
        width: 90%;
        height: 50px;
        position: relative;
        left: -10px;
    }

    .applySchedule{
        width: 100%;
    }
    .applyDetails{

    margin-bottom: 40px;
    display: inline-block;
}
#skillsTable span:hover div{
    display: none;
}
#skillsTable span{
    height: auto;
}

.applyColumn.left{
     width: 100%;
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.applyColumn.right{
   margin-left: 0px;
   display: block;
}

.applyScheduleSession{
   margin-left: 0px;
   width: 45%;
   display: inline-block;
}

#citHeader-left{
    float: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
    }
#citHeader-right{
    float:none;
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
    }
#citHeader-right table{
    width: 100%;
}
#midSection .learning{
    float: none;
    width: 100%;
margin-bottom: 50px;}
#midSection .leading{
    float:none;
    width: 100%;
margin-bottom: 50px;}


}

@media screen and (max-width: 690px) {
  #citCTA1 {
    margin-right: 0px;
    margin-bottom: 15px; } }

@media screen and (max-width: 500px) {
    .sliderAge{
        font-size: 22px;
    }

}
