		<!-- BOTTOM BAR -->
		<div id="bottomBar">
				<div id="bottomBarContainer">
					<div id="bottomBarLogos">
						<a href="home.html">
							<div id="bottomBarCampLogo">
							</div>
						</a> 
						<a href="http://www.pixelacademy.org/" target="_blank">
							<div id="bottomBarPixelLogo">
							</div>
						</a>
					</div>
					<div id="bottomBarLinks">
						<div id="topLinks">
							<a href="about.html">
								About CAMP/pixel
							</a>
							<a href="topics.html">
								CAMP/pixel Topics
							</a>
							<a href="packages.html">
								CAMP/pixel Packages
							</a>
						</div>
						<div id="bottomLinks">
							<a href="ages.html">
								Ages
							</a>
							<a href="about.html#location">
								Location
							</a>
							<a href="about.html#cost">
								Cost
							</a>
							<a href="http://www.pixelacademy.org/" target="_blank">
								Pixel Academy Home Page
							</a>
						</div>
					</div>
				</div>
				<div id ="bottomBarButtons">
					<a href="https://hq.pixelacademy.org/tickets/camp-pixel">
						<div id="bottomBarSignUp">
							SIGN UP
						</div>
					</a>
					<a href="contactfaq.html">
						<div id="bottomBarSignUp">
							CONTACT/faq
						</div>
					</a>
				</div>
			</div>