
#costSection .details {
  font-size: 22px;
  font-family: "Body";
  width: 100%;
}

#discountsSection{
  border-bottom: none;
  padding-bottom: 0px;
}



.tableLabel{
  margin-bottom: 20px;

}

.detailColumn{
  display: inline-block;
  width: 250px;
  margin-bottom: 15px;
  vertical-align: top;
}

.costTableInfo{
  vertical-align: middle;
  height: 50px;
  color: #ff9933;
  font-family: "Special";
}

#swagList{
  font-family: "Body";
  font-size: 16px;
  line-height: 20px;
}
#swagListLabel{
  margin-bottom: 15px;
  font-size: 18px;
}

td{
  margin: 25px;
}

.discount{
  margin-bottom: 30px;
}

.discountsTableLabel{
  color: #ff9933;
  font-size: 18px;
  margin-bottom: 10px;
}

.discountsTableInfo{
  font-family: "Body";
  line-height: 20px;
}

li{
  margin-bottom: 15px;
}

.finePrint{
  font-family: "Body";
  color: #666;
  font-size: 12px;
}


@media screen and (max-width: 670px) {
  .detailColumn{
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
  }
  #costSection .finePrint{
    text-align: center;
  }
}

@media screen and (max-width: 875px) {
  .section .mainSectionText span {
    font-size: 26px;
    display: inline-block;
    min-width: 300px; } 
}


#costSectionHeader .mainSectionImage {
  background-image: url("images/cost-header.jpg") !important;
  background-position: left 85%; 
}


#costSection, #swagSection, #discountsSection  {
  padding-bottom: 50px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  font-family: "Header";
  background: white;
  border-bottom: solid 10px #6666dd; 
}
#costSection, #swagSection  {
  margin-bottom: 0px;
}
#discountsSection{
  border-bottom: none;
  padding-bottom: 0px;
}
#costSection .label, #swagSection .label, #discountsSection .label{
    color: #1b2325;
    font-size: 24px;
    margin-bottom: 35px; 
}
.costLabel{
   color: #1b2325;
    font-size: 24px;
    margin-bottom: 35px; 
}

 #costCTA {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center; 
  }
 #costCTA a {
      text-decoration: none; }

 #costCTA1, #costCTA2 {
    font-family: "Header";
    display: inline-block;
    text-align: center;
    width: 250px;
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    background: #570fa7;
    font-weight: normal;
    margin: auto;
    color: white; }
#costCTA1:hover,  #costCTA2:hover {
      background: #6666dd;
      cursor: pointer;
      color: #ccc; }
#costCTA1{
    margin-right: 15px;
  }



@media screen and (max-width: 690px) {
  #costCTA1 {
    margin-right: 0px; 
    margin-bottom: 15px;
  }
  #costCTA{
    padding-bottom: 25px;
  }

}

