<div class="label">
					<div class="labelImage" id="screenBreaksImage">
					</div>
					<div class="slashImage">
					</div>
					<div class="labelText">
					 CAMP/location
					</div>
				</div>
				<div id="locationSection">
					<div id="mapAddresses">
						<div class="addressBlock" >
							<div class="addressTitle">
								CAMP/pixel New York
							</div>		
							
							<a target="_blank" style="text-decoration:underline;" href="https://www.google.com/maps/place/25+Pine+St,+New+York,+NY+10005/@40.7073823,-74.0120413,17z/data=!3m1!4b1!4m2!3m1!1s0x89c25a1705a7aeaf:0x4cc1e7553e970dec">
							25 Pine St<br> New York, NY 10005 
							</a> <br>
							<div id="locationsNote">
							[Opens in Google Maps]
							</div>
							<div class="subwayIcons">
								<img src="images/subways_1.jpg" />
								<img src="images/subways_2.jpg" />
								<img src="images/subways_3.jpg" />
								<img src="images/subways_4.jpg" />
								<img src="images/subways_5.jpg" />
								<img src="images/subways_A.jpg" />
								<img src="images/subways_C.jpg" />
								<img src="images/subways_R.jpg" />
								<img src="images/subways_J.jpg" />
								<img src="images/subways_Z.jpg" />
							</div>
							<div id="locationBlurb">
								CAMP/pixel is taking over an entire, 25,000 sq. ft. floor of Pine Street School, a new, state-of-the-art private school in the Financial District for an immersive and totally unique technology camp experience. For full information on the school, visit <a href="http://www.pinestreetschool.com/" target="_blank">www.pinestreetschool.com</a>.
							</div>
							<div id="locationBlurb">
								For more location information, visit <a href="about.html#location">CAMP/about</a>.
							</div>
						</div>
					</div>	
				</div>