

.mainSection {
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center; 
}

.topicsDescription{
    font-size: 18px;
    line-height: 20px;
  }

#minecraftmaster .packageHeader{
  background-image: url("images/minecrafter.jpg");
  background-size: cover;
  background-position: 75%;
}

#coder .packageHeader{
  background-image: url("images/coder.jpg");
  background-size: cover;
  background-position: 50%;
}


#artist .packageHeader{
  background-image: url("images/artist.jpg");
  background-size: cover;
  background-position: 50%;
}

#maker .packageHeader{
  background-image: url("images/maker.jpg");
  background-size: cover;
  background-position: 50%;
}

#gamedesigner .packageHeader{
  background-image: url("images/gamedesigner.jpg");
  background-size: cover;
  background-position: 50%;
}

.headerText{
  background: rgba(0, 0, 0, .7);
  position: absolute;
  bottom: 0px;
  font-size: 36px;
  line-height: 42px;
  font-family: "Header";
  color: #eee;
  width: 100%;
  box-sizing: border-box;
  padding: 30% 75px 35px 75px;

  background: rgba(0, 0, 0, .5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)); /* Standard syntax */
}


.headerSubText{
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  font-family: "Body";
}


#content {
  padding-bottom: 160px; 
}


.topicsPicture img{
  height: 180px;
}


.packageHeader{
  position: absolute;
  top: 0px;
  height: 350px;
  left: 0px;
  right: 0px;
  background-color: #999;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
}

.skills{
  text-align: center;
  padding-left: 75px;
  height: 150px;
  padding-right: 75px;
}

.skillContainer{
  height: 100%;
  display: inline-block;
  margin: auto;
}
.skill{
  width: 12%;
  min-width: 100px;
  float: left;
  margin: 0 10px;
  text-align: center;

}
.skillIcon{
  height: 70px;
  margin: 23px auto 10px auto;
}

.skillLabel{
  font-size: 13px;
  font-family: "Header";
  text-align: center;
}

.extraInfo{
  float: right;
  text-align: left;
  color: white;
  font-family: "Header";
  margin-right: 75px;
  margin-top: 100px;
  line-height: 22px;
  font-size: 16px;
}

.green{
  color: #F4783B;
}

.orange{
  color: #F4783B;
}

.blue{
  color: #F4783B;
}

.purple{
  color: #F4783B;
}

.yellow{
  color: #F4783B;
}

.packageInfo{
  position: absolute;
  height: 150px;
  left: 0px;
  right: 0px;
  top: 350px;
  background-image: url("images/crumples.png");
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
}

.packageContent{
  padding: 0px 75px;
}

.packageTitle{
  color: #1b2325;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Header';
}

.packageDeets{
  font-weight: bold;
  font-family: "Special";
  margin-top: -5px;
  font-size: 18px;
}

.packageDeet{
  display: inline-block;
}

.packageDeets span{
  font-weight: bold;
  font-family: "Header";
}

.packageBlurb{
  margin: auto;
  font-family: "Body";
  font-size:16px;
  line-height: 24px;
  margin-bottom: 35px;
}

.packageCost{
  vertical-align: middle;
  color: #59a4a3;
  font-size: 28px;
  font-family: "Special";
}

.save{
  margin-top: 10px;
  color: #666;
  font-family: "Body";
  font-size: 16px;
}

.packageSchedule{
    vertical-align: middle;
    color: #59a4a3;
    font-size: 26px;
    font-family: "Special";
    margin-bottom: 50px;
}

.suggestion{
  color: #666;
  font-family: "Body";
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 25px;
}


.packageSchedule table{
   width: 100%;
}

.packageSchedule table td{
  font-family: "Header";
  font-size: 14px;
  color: #000;
  height: 40px;
  vertical-align: middle;
}

.className, .dates{
  padding: 10px;
}

.packageSchedule table .dates{
  color: #000;
  font-family: "Special";
}

.packageSchedule table .ageLabel td{
  background-color: #EBECE0;
  height: 40px;
  font-size: 20px;
  color: #e54785;
  font-family: "Header";
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}
.packageSchedule table .greyRow{
  background-color: #eee;
  font-size: 24px;
  font-family: "Body";
  vertical-align: middle;
}

.contenttd{
  display: inline-block;
  width: 32%;
  margin-bottom: 15px;
}

.contenttd.smaller{
  display: inline-block;
  width: 30%;
  margin-bottom: 15px;
}

.contenttd.smaller td{
  font-family: "Body";
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
  vertical-align: top;
}


.topic{
  width: 32%;
}



.topic.left{
  margin-right: 1%;
}

.topicsTitle{
  font-size: 22px;
}

#topicsTable{
  margin: 15px;
}

.ready{
  font-size: 22px;
  font-family: "Header";
  display: block;
  margin-bottom: 5px;
}

.topicsWeeks{
  font-size: 16px;
  font-family: "Body";
}

#otherPackagesLabel{
  font-family: "Header";
  font-size: 24px;
  margin-bottom: 40px;
}


.packagePurchase{

  background-color: #ff017e;
  height: 60px;
  text-align: center;
  cursor: pointer;
}

table .packagePurchase td, .contenttd.smaller tr.packagePurchase td{
  font-size: 16px;
  font-family: "Header";
  position: relative;
  color: white;
  vertical-align: middle;
  padding:0px;
}

.packagePurchase:hover{
  background-color: #e54785;
}

.packageButton{
  width: 100%;
  background-color: #555;
  height: 75px;
  color: #ffffff !important;
  margin-bottom: 15px;
  text-align: center;
  line-height: 75px;
  font-family: "Header";
  font-size: 36px;
  position: relative;
}

.packageButton:hover{
  color: #ff017e !important;
}

#otherPackages{
  margin: 0px 75px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: solid 10px #7fcca8;
}

.packageMask{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, .5);
}

.packageButton:hover{
  cursor: pointer;
  background-color: #999;
}

.packagePurchaseLink{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  line-height: 60px;
  display: inline-block;
  color: white;
}

.packagePurchaseLink:hover{
  color: white;
}


#learningImage {
  background-image: url("images/Learning.jpg");
  background-size: cover;
  background-position: center 81%; 
}
#dropOffImage {
  background-image: url("images/DropOff.jpg");
  background-size: cover;
  background-position: center 50%; 
}
#screenBreaksImage {
  background-image: url("images/ScreenBreaks.jpg");
  background-size: cover;
  background-position: center 50%; 
}
 .label {
  font-family: "Header";
  height: 100px;
  background-color: #7fcca8;
  color: #1b2325;
  font-size: 32px;
  margin-bottom: 25px;
  margin-top: 50px;
  position: relative; 
}
 .label .labelImage {
  background-color: #999999;
  height: 100px;
  width: 58%;
  display: inline-block;
  position: absolute;
  right: 0px; 
}
 .label .slashImage {
  height: 100%;
  width: 10%;
  background: url("images/scheduleSlash.png");
  background-size: cover;
  position: absolute;
  left: 40%;
  top: 0px; 
}
 .label .labelText {
  display: inline-block;
  position: relative;
  top: 35px;
  width: 40%;
  left: 20px;
  color: white; 
}
 .label .labelText.twoLines {
  top: 20px; 
}

#costSection{
  padding-bottom: 0px;
}

#detailsSection{
  padding: 0px 75px;
}

#aboutSection{
  line-height: 24px;
  padding: 0px 0px 50px 0px;
}



@media screen and (max-width: 1240px) { 
   .topicsDescription{
    font-size: 16px;
    line-height: 20px;
  }
}




@media screen and (max-width: 1100px) { 
  .topicsDescription{
    font-size: 16px;
    line-height: 18px;
    padding: 0px;
  }

  .topicsTitle{
    font-size: 18px;
  }

}




@media screen and (max-width: 420px) { 
  .packageButton{
    font-size: 22px;
  }

}


@media screen and (max-width: 815px) {
  .packageContent{
    padding-left: 15px;
    padding-right: 15px;
  }
  .topicsPicture img{
    height: 200px;
  }
  .packageHeader{
    font-size: 36px;
  }
  #detailsSection{
  padding: 0px 15px;
}
.template{
  padding-top: 150px;
}

.headerText{
  font-size: 28px;
  line-height: 32px;
  padding-left: 15px;
  padding-right: 15px;
}
.skills{
  padding: 0px 15px;
}
.skillContainer{
  width: 600px;
}
.topicsDescription{
  text-align: center;
  padding: 10px;
}


}

@media screen and (max-width: 850px) {
  #DetailsSection .label {
    height: 100px;
    background-color: #7fcca8;
    color: #1b2325;
    font-size: 32px;
    margin-bottom: 25px;
    margin-top: 50px;
    position: relative; 
    text-align: left;
  }
  #DetailsSection .label .labelImage {
    width: 30%;
    top: 0px; 
  }
  #DetailsSection .label .slashImage {
    width: 20%;
    left: 70%; 
  }
  #DetailsSection .label .labelText {
    font-size: 28px;
    top: 35px;
    width: 100%; 
  } 
}


@media screen and (max-width: 960px) {
  .topicsPicture img{
    height: 200px;
  }

  .contenttd, .contenttd.smaller{
    display: block;
    width: 100%;
  }

}


@media screen and (max-width: 890px) {
  .skill{
    width: 175px;
    margin: 0px 10px;
    text-align: left;
    height: 60px;
  }
  .skillIcon{
    width: 50px;
    height: 50px;
    min-width: 50px;
    display: inline-block;
  }

  .skillLabel{
    display: inline-block;
    position: relative;
    top: -28px;
    left: 10px;
    text-align: left;
  }
}



@media screen and (max-width: 815px) {

  .packageHeader{
    text-align: center;
    padding: 0px;
  }
  #otherPackages{
    margin: 0px 15px;
  }
  .mainSection {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 670px) { 
  .contenttd{
    display: inline-block;
    width: 100%;
  }
  .topicsPicture img{
    height: 160px;
  }

  .topic{
    width: 100%;
  }

}

@media screen and (max-width: 600px) {
  .skillIcon{
    height: 35px;
    width: 35px;
    min-width: 35px;
  }
  .skill{
    width: 140px;
    height: 45px;
    position: relative;
    top: -10px;

  }
  .skillLabel{
    top: -21px;
    left: 3px;
  }
  .skillContainer{
    width: 350px;
  }
  .skills{
    padding: 0px;
  }
}


@media screen and (max-width: 420px) { 
 .topicsDescription{
    font-size: 16px;
    line-height: 18px;
  }
  .topicsPicture img{
    height: 150px;
  }

  .template{
  padding-top: 170px;
  padding-bottom: 50px;
}

.headerText{
  font-size: 24px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(0, 0, 0, .9); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)); /* Standard syntax */
}
.headerSubText{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
}



@media screen and (max-width: 550px) { 
  .packageHeader{
    font-size: 26px;
  }
  .headerMask{
    padding: 0px;
  }
}
