/* GENERAL STYLE */
@font-face {
  font-family: 'Header';
  src: url("fonts/GlacialIndifference-Bold.otf"); }
@font-face {
  font-family: 'Subheader';
  src: url("fonts/GlacialIndifference-Regular.otf"); }
@font-face {
  font-family: 'Body';
  src: url("fonts/Gen-Light.otf"); }
@font-face {
  font-family: 'Special';
  src: url("fonts/AHAMONO-Regular.otf"); }
body {
  font-family: "Body";
  background: #ffffff;
  color: #1b2325; }
#wrapper {
  min-height: 100%;
  position: relative; }
#content {
  padding-bottom: 280px; }
a {
  text-decoration: none;
  color: #ff017e;
  cursor: pointer !important; 
}
a:hover {
  color: #e54785; 
}
.italics {
  font-size: 11px !important;
  line-height: 12px !important;
  font-style: italic; }
.thisPageLink {
  color: #ff017e !important;
}
/* TOP BAR */
#topBar {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
  z-index: 10;
  background: #515763;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  padding: 0px 0px 0px 75px; 
}
#topBar div {
  line-height: 60px;
  display: inline-block; 
}
#topBar #phoneNumber {
  position: absolute;
  background-color: #313743;
  top: 60px;
  left: 0px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
  height: 30px;
  width: 100%;
  font-family: 'Subheader';
  padding-right: 75px;
}

#topBar #phone{
  line-height: 30px;
  font-size: 14px;
  display: inline-block;
  float: left;
  margin-left: 75px;
}

#bottomBar #phoneNumber {
  position: absolute;
  background-color: #313743;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
  height: 30px;
  width: 100%;
  font-family: 'Subheader';
  padding-right: 75px;
  color: white;
}

#bottomBar #phone{
  line-height: 30px;
  font-size: 14px;
  display: inline-block;
  float: left;
  margin-left: 75px;
}

#phoneNumber .emph{
  font-family: 'Header';
  font-weight: bold;
  display: inline-block;
  height: 20px;

}

#phoneSpacer{
  padding-right: 5px;
  display: inline-block;
}

.topBarContactIcon {
  position: relative;
  top: 5px;
  margin-left: 0px;
  margin-right: 5px;
}
  

#topBar a {
  color: inherit;
  text-decoration: none; }
#topBarLogo {
  font-size: 24px;
  font-family: "Header"; 
}
#topBarButtons {
  float: right;
  font-family: 'Header'; 
}
#topBarButtons .topBarButton {
  margin: 0px 10px; 
}
#topBarButtons .topBarButton:hover {
  color: #ccc;
  cursor: pointer; 
}
#topBarButtons #signupButton {
  text-align: center;
  width: 125px;
  padding: 0px 10px;
  margin-right: 0px;
  background: #ff017e; 
}
#topBarButtons #signupButton:hover {
  background: #e54785; 
  color: #fff;
}


/* SECTION */
.section {
  position: relative;
  top: 90px;
  left: 0px;
  right: 0px;
  background-size: cover;
  background-position: center top; 
}
.section .sectionBlurb {
  margin-bottom: 50px;
  font-family: "Body";
  line-height: 24px;
  font-size: 16px; 
}
.mainSectionHeader {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
  background: white;
  height: 125px;
  margin-bottom: 25px;
  border-bottom: 20px solid #e54785; 
}
.section .mainSectionHeader .mainSectionImageContainer {
  display: inline-block;
  position: absolute;
  width: 100%;
}
.section .mainSectionHeader .mainSectionImageContainer .mainSectionImage {
  position: absolute;
  right: 0px;
  height: 125px;
  width: 60%;
  background-size: cover;
  background-position: center; 
}
.section .mainSectionHeader .mainSectionImageContainer .mainSectionImageSlash {
  height: 125px;
  width: 135px;
  background: url("images/mainSectionImageSlash.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 40%; 
}
.section .mainSectionHeader .mainSectionText {
  font-family: "Header";
  height: 125px;
  line-height: 125px;
  z-index: 2;
  width: 40%;
  background-color: #aaa;
  background-image: url("images/crumples.png");
  display: inline-block;
  color: #eee;
  font-size: 36px;
  font-weight: bold;
  position: absolute; 
}
.section .mainSectionHeader .mainSectionText span {
  padding-left: 75px; 
}
.section .sectionContent {
  padding: 25px 75px; 
}

/* BOTTOM BAR */
#bottomBar {
  background: #515763;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 190px;
  padding: 0px 75px 0px 55px; 
}
#bottomBarContainer {
  height: 106.66667px;
  position: relative;
  top: 26.66667px; 
}
#bottomBarCampLogo {
  background-image: url("images/bottombar-camplogo.png");
  background-size: cover;
  float: left;
  width: 106.66667px;
  height: 100%;
  margin-right: 10px;
}
#bottomBarPixelLogo {
  background-image: url("images/bottombar-pixellogo.png");
  background-size: cover;
  float: left;
  width: 106.66667px;
  height: 100%;
  margin-right: 25px; 
}
#bottomBarLinks {
  display: inline-block;
  width: 140px;
  height: 100%;
  font-family: "Subheader"; 
}
#bottomBarLinks #topLinks {
  padding-bottom: 8px;
  border-bottom: 5px solid #e54785; 
}
#bottomBarLinks #bottomLinks {
  padding-top: 8px; 
}
#bottomBarLinks a {
  text-decoration: none;
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: white; 
}
#bottomBarLinks a:hover {
  color: #ccc;
  cursor: pointer; 
}
#bottomBarLogos{
  width: 250px;
  display: inline-block;
}
#bottomBarButtons{
  position: absolute;
  right: 75px;
  top: 26.66667px;
}
#bottomBarSignUp {
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  font-family: "Header";
  text-align: center;
  color: white;
  background-color: #ff017e;
  margin-bottom: 15px;
  cursor: pointer; 
}
#bottomBarSignUp:hover {
  cursor: pointer;
  background-color: #e54785;
  color: #fff; 
}




