/* Colors */
/* Sizes */
/* Fonts */
@font-face {
  font-family: 'Hanken';
  src: url("fonts/Hanken-Book.ttf"); }
@font-face {
  font-family: 'Nordica';
  src: url("fonts/NordicaAdvancedRegular.otf"); }
body {
  font-family: 'Nordica';
  background: white;
  color: #1b2325; }

#wrapper {
  min-height: 100%;
  position: relative; }

#content {
  padding-bottom: 210px; }

a {
  color: #570fa7;
  cursor: pointer; }
  a:hover {
    color: #6666dd; }

.italics {
  font-style: italic; }

.thisPageLink {
  color: yellow !important; }

#topBar {
  background: #1b2325;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 75px;
  padding: 0px 0px 0px 75px; }
  #topBar div {
    line-height: 75px;
    display: inline-block; }
  #topBar a {
    color: inherit;
    text-decoration: none; }
  #topBar #topBarLogo {
    float: left; }
  #topBar #topBarButtons {
    float: right;
    font-family: 'Hanken'; }
    #topBar #topBarButtons .topBarButton {
      margin: 0px 10px; }
      #topBar #topBarButtons .topBarButton:hover {
        color: #ccc;
        cursor: pointer; }
    #topBar #topBarButtons #startButton {
      text-align: center;
      width: 75px;
      padding: 0px 10px;
      margin-right: 0px;
      background: #570fa7; }
      #topBar #topBarButtons #startButton:hover {
        background: #6666dd; }

.section {
  position: relative;
  top: 75px;
  left: 0px;
  right: 0px;
  background-size: cover;
  background-position: center top; }
  .section .sectionBlurb {
    margin-bottom: 50px;
    font-family: 'Nordica';
    line-height: 24px;
    font-size: 16px; }
  .section .mainSectionHeader {
    background: white;
    height: 125px;
    margin-bottom: 50px;
    border-bottom: 20px solid #570fa7; }
    .section .mainSectionHeader .mainSectionImageContainer {
      display: inline-block;
      position: absolute;
      width: 100%; }
      .section .mainSectionHeader .mainSectionImageContainer .mainSectionImage {
        position: absolute;
        right: 0px;
        height: 125px;
        width: 60%;
        background-size: cover;
        background-position: center; }
      .section .mainSectionHeader .mainSectionImageContainer .mainSectionImageSlash {
        height: 125px;
        width: 135px;
        background: url("images/mainSectionImageSlash.png");
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 40%; }
    .section .mainSectionHeader .mainSectionText {
      font-family: "Hanken";
      height: 125px;
      line-height: 125px;
      z-index: 2;
      width: 40%;
      background-color: #1b2325;
      display: inline-block;
      color: white;
      font-size: 36px;
      font-weight: bold;
      position: absolute; }
      .section .mainSectionHeader .mainSectionText span {
        padding-left: 75px; }
  .section .sectionContent {
    padding: 25px 75px; }

#bottomBar {
  background: #1b2325;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 160px;
  padding: 0px 75px; }
  #bottomBar #bottomBarContainer {
    height: 106.66667px;
    position: relative;
    top: 26.66667px; }
  #bottomBar #bottomBarCampLogo {
    float: left;
    width: 106.66667px;
    height: 100%;
    background-color: #333;
    margin-right: 15px; }
  #bottomBar #bottomBarPixelLogo {
    background-image: url("images/pixelLogo.png");
    background-size: cover;
    float: left;
    width: 106.66667px;
    height: 100%;
    margin-right: 15px; }
  #bottomBar #bottomBarLinks {
    float: left;
    width: 150px;
    height: 100%; }
    #bottomBar #bottomBarLinks #topLinks {
      padding-bottom: 8px;
      border-bottom: 5px solid #570fa7; }
    #bottomBar #bottomBarLinks #bottomLinks {
      padding-top: 8px; }
    #bottomBar #bottomBarLinks a {
      text-decoration: none;
      display: block;
      font-size: 12px;
      line-height: 15px;
      color: white; }
      #bottomBar #bottomBarLinks a:hover {
        color: #ccc;
        cursor: pointer; }
  #bottomBar #bottomBarSignUp {
    padding: 20px 10px;
    width: 75px;
    float: right;
    text-align: center;
    color: white;
    background-color: #570fa7;
    margin-top: 20px;
    cursor: pointer; }
    #bottomBar #bottomBarSignUp:hover {
      background-color: #6666dd;
      color: #ccc; }

/*# sourceMappingURL=sharedStyle.css.map */
