/*  TOP BAR  */

#topBar {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
  z-index: 10;
  background: #515763;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  padding: 0px 0px 0px 75px; 
}


#topBarLogo {
  font-size: 24px;
  font-family: "Header"; 
}


/* MAIN MENU BUTTONS - DESKTOP */
/* /////////////////////////// */

#topBar a {
  color: inherit;
  text-decoration: none; 
}

#topBar div {
  line-height: 60px;
  display: inline-block; 
}

.topBarButton{
	position: relative;
}


#topBarButtons {
  float: right;
  font-family: 'Header'; 
}

#topBarButtons .topBarButton {
  margin: 0px 10px; 
}

#topBarButtons .topBarButton:hover {
  color: #ccc;
  cursor: pointer; 
}

#topBarButtons #signupButton {
  text-align: center;
  width: 125px;
  padding: 0px 10px;
  margin-right: 0px;
  background: #ff017e; 
}

#topBarButtons #signupButton:hover {
  background: #e54785; 
  color: #fff;
}

/* Main Menu Drop-down */
.topBarButton:hover .submenu{
	display: block !important;
}

.submenu{
	position: absolute;
	left: -10px;
	z-index: 100;
	display: none !important;
	background: #313743;
	padding-top: 30px;
	cursor: pointer !important;
}

.submenuChoice li{
    height: 20px;
    width: 185px;
    padding: 10;
    margin-bottom: 0px;
    line-height: 20px;
    border-bottom: 1px solid #515763;
}

.submenuChoice li:hover{
	color: #fff;
	cursor: pointer;
}

/* /////////////////////////////// */


/* CONTACT BAR / SECONDARY BAR */
/* /////////////////////////// */

#topBar #phoneNumber {
  position: absolute;
  background-color: #313743;
  top: 60px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
  height: 30px;
  width: 100%;
  font-family: 'Subheader';
}

#topBar #phone{
  line-height: 25px;
  font-size: 14px;
  display: inline-block;
  float: left;
  margin-left: 75px;
}

.topBarSocialIcon{
	position: relative;
    top: 4px;
    margin-left: 0px;
}
  
.topBarContactIcon{
	position: relative;
    top: 4px;
    margin-left: 0px;
    margin-right: 4px;
}

#phoneNumber .emph{
  font-family: 'Header';
  font-weight: bold;
  display: inline-block;
  height: 20px;

}

#phoneSpacer{
  padding-right: 5px;
  display: inline-block;
}

/* /////////////////////////////// */


/* PROMO */
/* /////////////////////////// */

#promo{
	line-height: 30px !important;
	float: right;
	height: 30px;

}

#promoBanner{
	vertical-align: top;
	display: inline-block;
	margin: 0px;
}

#promoText{
	vertical-align: top;
	padding: 0px 25px;
	background: #f3773b;
	display: inline-block;
	font-weight: bold;
}

/* /////////////////////////////// */

/* MOBILE STYLE */
/* /////////////////////////// */








/* /////////////////////////////// */