<div id="topBar">
		<div id="topBarLogo">
			<a href="home.html">
				<img src="images/topbar-camplogo.png" style="padding-top: 15px;" height="30px;" />
			</a>
		</div>
		<div id="topBarButtons">
			<a href="about.html">
				<div class="topBarButton thisPageLink">
					CAMP/about
				</div>
			</a>
			<a href="schedule.html">
				<div class="topBarButton">
					CAMP/schedule
				</div>
			</a>
			<a href="topics.html">
				<div class="topBarButton">
					CAMP/topics
				</div>
			</a>
			<a href="https://hq.pixelacademy.org/tickets/camp-pixel">
				<div id="signupButton" class="topBarButton">
					SIGN UP
				</div>
			</a>
		</div>
		<div id="phoneNumber">
			<div id="phone">
				
					<img class="topBarContactIcon" height="20" src="images/phone-icon.png" />
						(866) 771-6837

				<div id="phoneSpacer">
				</div>
					<img class="topBarContactIcon"  height="20" src="images/email-icon.png" />
						info@pixelacademy.org
			</div>
		</div>
	</div>