#mainSection {
  position: relative;
  width: 100%;
  height: 100%;
  background:#1b2325;
  background-size: cover;
  background-position: center; 
}
#content {
  padding-bottom: 160px; 
}
.topicTemplate{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.blackMask{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  rgba(25, 37, )
}

#DJmusicproduction{
  background: url("images/topicDJmusicproduction.jpg");
  background-size: cover;
}