#mainSection {
  position: relative;
  top: 60px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; 
}
#content {
  padding-bottom: 160px; 
}
.topicTemplate{
  background:#1b2325;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.topicTemplateInner{
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 60px;
}
.blackMask{
  position: absolute;
  top: 0px;
  bottom: 60px;
  left: 0px;
  right: 0px;
  background: rgba(25, 37, 35, .3);
}
#DJproductionPic{
  background: url("images/topicDJmusicproduction.jpg");
  background-size: cover;
}
#CUTscenesPic{
  background: url("images/Vinyl topic.jpg");
  background-size: cover;
  background-position: bottom;
}
#JURASSICpartsPic{
  background: url("images/dino topic.jpg");
  background-size: cover;
}

#MINECRAFTarchitectPic{
  background: url("images/ComputerCraft1.png");
  background-size: cover;
}
#MINECRAFTcodingPic{
  background: url("images/Minecraft coding.jpg");
  background-size: cover;
  background-position: bottom;
}
#MINECRAFTcodingplusPic{
  background: url("images/Minecraft Coding plus.jpg");
  background-size: cover;
  background-position: bottom;
}
#MINECRAFTengineeringPic{
  background: url("images/Minecraft engineering.png");
  background-size: cover;
  background-position: bottom;
}
#VIRTUALrealityPic{
  background: url("images/vr2.jpg");
  background-size: cover;
  background-position: bottom;
}
#DRIVEdesignPic{
  background: url("images/DriveDesign.jpg");
  background-size: cover;
  background-position: top;
}
#FLIGHTdesignPic{
  background: url("images/plane topic.jpg");
  background-size: cover;
  background-position: top;
}
#FASHIONdesignPic{
  background: url("images/fashion_topic.jpg");
  background-size: cover;
  background-position: top;
}
#SPORTSmechanicsPic{
  background: url("images/sports_topic.jpg");
  background-size: cover;
  background-position: top;
}
#ARCADEcontrolPic{
  background: url("images/arcade_topic.jpg");
  background-size: cover;
  background-position: top;
}
.topTopicTemplate{
  position: absolute;
  bottom: 40px;
  left: 75px;
  right: 75px;
}
.backToTopics{
  font-family: "Body";
  font-size: 16px;
  color: white;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 75px;
  top: 65px;
}    
#topicsNav{
  margin-bottom: 20px;
}   

#scrollDown{
  color: #ffffff;
  font-size: 11px;
}

.navLink{
  color: white;
}

.backToTopics:hover, .navLink:hover{
  cursor: pointer;
  color: #ff007a;
}
.topicName{
  font-family: "Header";
  color: white;
  font-size: 36px;
  margin-bottom: 15px;
  margin-top: 25px;
}
.topicBlurb{
  font-family: "Body";
  color: white;
  margin-bottom: 30px;
  font-size: 24px;
}
.bottomTopicTemplate{
  border-top: 10px solid #7fcca8;
  background: #2f343f;
  background-image: url("images/crumples.png");
  background-size: cover;
  position: relative;
  top: 0px;
  padding-bottom: 100px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.projectDescriptions{
  padding: 30px 75px 0px 75px;
  color: white;
  font-family: "Body";
  margin-bottom: 15px;
}
.digitalProjectDescription, .physicalProjectDescription{
  display: inline-block;
  width: 45%;
  vertical-align: top;
}
.digitalProjectDescription{
  padding-right: 3%;
}
.physicalProjectDescription{
  padding-left: 3%;
}
.physicalProjectLabel, .digitalProjectLabel{
  font-size: 22px;
  font-family: "Header";
  margin-bottom: 15px;
}
.physicalProjectText, .digitalProjectText{
  font-size: 16px;
  font-family: "Body";
  margin-bottom: 15px;
  line-height: 20px;
}
.projectLabel{
  font-size: 16px;
  line-height: 26px;
  color: white;
  font-family: "Body";
}
.topicSchedule{
  color: white;
  font-size: 20px;
  line-height: 24px;
  padding: 0px 75px 0px 75px;
  font-family: "Body";
}
.topicScheduleLength{
  margin-bottom: 15px;
  font-family: "Special";
  font-size: 16px;
}
.topicScheduleDates{
  font-family: "Special";
  font-size: 16px;
}
.scheduleLabel{
  color: #59a4a3;
  font-size: 20px;
  font-family: "Header";
  width: 80px;
}
#DetailsSection {
  background-color: white;
  position: relative;
  padding: 10px 75px 60px 75px;
  margin-bottom: 20px;
  margin: auto;
  font-family: "Header"; 
}
#DetailsSection #learningImage {
  background-image: url("images/Learning.jpg");
  background-size: cover;
  background-position: center 81%; 
}
#DetailsSection #dropOffImage {
  background-image: url("images/DropOff.jpg");
  background-size: cover;
  background-position: center 50%; 
}
#DetailsSection #screenBreaksImage {
  background-image: url("images/ScreenBreaks.jpg");
  background-size: cover;
  background-position: center 50%; 
}
#DetailsSection .label {
  height: 100px;
  background-color: #7fcca8;
  color: #1b2325;
  font-size: 32px;
  margin-bottom: 25px;
  margin-top: 50px;
  position: relative; 
}
#DetailsSection .label .labelImage {
  background-color: #999999;
  height: 100px;
  width: 58%;
  display: inline-block;
  position: absolute;
  right: 0px; 
}
#DetailsSection .label .slashImage {
  height: 100%;
  width: 10%;
  background: url("images/scheduleSlash.png");
  background-size: cover;
  position: absolute;
  left: 40%;
  top: 0px; 
}
#DetailsSection .label .labelText {
  display: inline-block;
  position: relative;
  top: 35px;
  width: 40%;
  left: 20px;
  color: white; 
}
#DetailsSection .label .labelText.twoLines {
  top: 20px; 
}
#DetailsSection .scheduleSubsection .scheduleSubsectionLabel {
  font-size: 24px;
  color: #000000;
  margin-bottom: 25px;
  overflow: hidden;
  max-height: 200px; 
}
#DetailsSection .scheduleSubsection .scheduleDetail {
  margin-bottom: 25px;
  line-height: 22px; 
}
#DetailsSection .scheduleSubsection .scheduleDetail .detailText {
  font-family: "Body";
  font-size: 14px; 
}

#costSection{

  margin-bottom: 25px;
}
#locationSection{
  padding: 0px;
  position: relative;
  font-family: "Body";
}

@media screen and (max-width: 850px) {
  #DetailsSection .label {
    height: 100px;
    background-color: #7fcca8;
    color: #1b2325;
    font-size: 32px;
    margin-bottom: 25px;
    margin-top: 50px;
    position: relative; 
  }
  #DetailsSection .label .labelImage {
    width: 30%;
    top: 0px; 
  }
  #DetailsSection .label .slashImage {
    width: 20%;
    left: 70%; 
  }
  #DetailsSection .label .labelText {
    font-size: 28px;
    width: 100%; 
  } 
}

@media screen and (max-width: 815px) {
.backToTopics{
    top: 95px;
  }
}

@media screen and (max-width: 690px) {
  #DetailsSection {
    padding: 5px 15px 25px 15px;
  }
  .backToTopics{
    left: 20px;
  }
  .topTopicTemplate{
    left: 15px;
    right: 15px; 
  }
  .projectDescriptions{
    padding: 30px 15px 0px 15px;
  }
  .topicSchedule{
    padding: 30px 15px 0px 15px;
  }
  .digitalProjectDescription, .physicalProjectDescription{
    margin: 0px;
    margin-bottom: 50px;
    width: 100%;
    padding-left: 0px;
    display: block;
  }
}




